<section class="container is-fluid padding-20">
  <div class="columns">
    <aside class="column">
      <p class="menu-label">Opponent Type</p>
      <app-type-list (typeSelected)="onTypeSelected($event)"></app-type-list>
    </aside>
  </div>
  <div class="columns">
    <div class="column">
      <app-matchup-list [types]="selected"></app-matchup-list>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container is-fluid">
    <div class="content has-text-centered">
      <p>
        Built with &hearts; using <a href="http://bulma.io/">Bulma</a>, <a href="https://angular.io/">Angular</a>, and <a
          href="http://tobiasahlin.com/spinkit/">SpinKit</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.</p>
      <p>
        <a href="https://github.com/barretodaniel/pokemon-type-matchup">
          Github
        </a>
      </p>
    </div>
  </div>
</footer>