/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/css/bulma.css';
@import '../node_modules/spinkit/css/spinners/2-double-bounce.css';

html, body {
  width: 100%;
}

.hero-body {
  padding-bottom: 0;
}

.grow {
  width: 100%;
}

.loading {
  background-color: white;
  z-index: 10;
}

.sk-double-bounce {
  position: relative;
  margin: 0;
  top: 50%;
  left: 50%;
}

.sk-double-bounce .sk-child {
  background-color: #d15266;
}